This is the show template <%= params[:id] %>
<%= link_to 'back', posts_path %>
<p>
	<%= @post.title %>
</p>
<p>
	<%= @post.body %>
</p>

<p>
	<%= link_to "edit", edit_post_path(@post) %>

</p>
<h2>All Comments </h2>

<%= render @post.comments.order("created_at DESC") %>

<h2>Leave a Comment: </h2>

<%= form_for [@post, @post.comments.build] do |f| %>
	<%= f.label :name %> <br>
	<%= f.text_field :name %> <br>

	<%= f.label :body %><br>
	<%= f.text_area :body %><br>

	<%= f.submit %>
<% end %>